<script src="https://datarecovery-sa.com/assets/js/consent.js?v=e4f6b531"></script>
<script src="https://datarecovery-sa.com/assets/js/main.js?v=7fac4654" defer></script>
<script src="https://datarecovery-sa.com/assets/js/analytics.js?v=58fa42da" async></script>
<script src="https://datarecovery-sa.com/assets/js/events.js?v=6d9861ea" defer></script>
<script src="https://datarecovery-sa.com/assets/js/clarity.js?v=e07b4677" async></script>
<script src="https://datarecovery-sa.com/assets/js/consent-banner.js?v=751f7d3c" defer></script>
